.App {
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
}

.App-body {

}

.App-actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.clock {
  font-family: monospace;
  font-size: 15vmin;
}

button {
  font-size: calc(10px + 2vmin);
}

button {
  border: none;
  background-color: #4f5a9e;
  border-radius: 5px;
  padding: 0.5em 1em;
  color: white;
}